<script src="api.js"></script>

<h1><%= title %></h1>

<% if (user) { %>

<h2>post something</h2>
<form method="POST" onsubmit="createPost(event)">
  <div>
    <input id="post" placeholder="post" name="post" type="text" />
  </div>
</form>

<% } %>

<ul>
  <% if (post_list) for (post of post_list) { %>
  <li>
    <b><%= user ? post.sender : "???" %></b>
    <p><%= post.content %></p>
    <p>
      — <%= user ? new Date(post.timeSent).toLocaleString(undefined, {year:
      "numeric", month: "numeric", day: "numeric", hour: "numeric", minute:
      "numeric"}) : "???"%>
    </p>
  </li>
  <% if (user?.admin === true) { %>

  <button onclick="deletePost('<%= post._id %>')" id="delete">delete</button>

  <% } %> <% } else { %>
  <li>There are no posts.</li>
  <% } %>
</ul>
